<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.android23">


        <activity
            android:name=".controller.homeController"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.albumController"
            android:exported="true"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".controller.photoController"
            android:exported="true"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".controller.moveController"
            android:exported="true"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".controller.searchInputController"
            android:exported="true"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".controller.searchOutputController"
            android:exported="true"
            android:label="@string/app_name">

        </activity>

    </application>

</manifest>